*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #242430 !important;
  height: 100vh;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
}

:focus {
  outline: none;
}

ul {
  list-style: none;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: #ffc107 !important;
}
.CircularProgressbar .CircularProgressbar-text {
  fill: white !important;
}
.CircularProgressbar .CircularProgressbar-trail {
  stroke: white !important;
}

hr {
  margin: 10px 0;
  display: block;
  border: 0.5px solid #646466;
  opacity: 0.3;
}
